body,
html {
  background-color: #7FE0FF;
  margin: 0;
  height: 100%;
}

h2 {
  color: #40707F;
}

p {
  color: #66797F;
}

.jumbotron {
  background-color: #ededed;
  text-align: center;
}

.jumbotron.category {
  background-color: white;
  padding: 0;
  padding-top: 10px;
  margin: 0;
}

.space {
  width: 100%;
  margin-top: 3%;
}

.space-medium {
  width: 100%;
  height: 3%;
}

h2 {
  padding-bottom: 30px;
  font-size: 3em;
  font-family: Georgia;
  padding-bottom: 40px;
  text-align: center;
}

.container {
  /* padding-left: 100px; */
  padding-bottom: 60px;
  padding-top: 60px;
}

/* Navbar */
.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 20px 0px 0px 0px;
  float: right;
}

.navbar-item {
  font-size: large;
  display: inline;
  margin-right: 20px;
  padding-bottom: 3px;
  position: relative;
}

.navbar-item:hover {
  cursor: pointer;
}

.navbar-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #585858;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-item:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Parallax CSS */

.parallax {
  height: 70%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#first {
  height: 40%;
  background-image: url(images/laptop2.jpg);
}

/* Preface CSS */

.preface p {
  font-size: 1.5em;
  height: 150px;
  padding: 0px 70px 0px 70px;
}

/* Programming CSS */

.programming li {
  padding-bottom: 30px;
  font-size: 1.2em;
}
.programming ul {
  padding-left: 100px;
  padding-right: 100px;
}

.programming {
  padding-bottom: 0px !important;
}

/* Work Experience CSS */
.job-name {
  display: inline-block;
  width: 100%;
  padding-bottom: 30px;
}
.job-name h3 {
  float: left;
  margin: 0px;
  font-size: 1.5em;
  color: #000000;
}

.work-experience p {
  padding: 0px 250px 0px 0px;
}

.job-name h4 {
  float: right;
  margin: 0px;
  font-size: 1.2em;
  color: #585858;
}

/* Side projects CSS */

.side-projects {
  /* background-color: #ededed; */
  /* width: 100%; */
  padding-bottom: 2%;
}

.side-projects img {
  max-width: 100%;
}

.image-wrapper {
  position: relative;
  padding-bottom: 30px;
}

.image-wrapper .image-caption {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: black;
  height: 400px;
  width: 400px;
  opacity: 0;
}

.image-wrapper .image-caption:hover {
  opacity: .7;
  -webkit-transition: opacity 0.35s;
}

.image-wrapper .project-title {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 2em;
}

.image-wrapper .project-title p {
  color: white;
}

/* Project image caption CSS */

.caption-button {
  font-family: georgia;
  margin: 0px 30% 0px 30%;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

.caption-button:hover {
  cursor: pointer;
}

/* Modal CSS */

.modal-title {
  text-align: center;
  font-size: 2em;
}

.modal-image {
  width: 100%;
}

.modal-body p {
  margin-bottom: 6%;
}

/* Card shadow */
.card {
  background: #CCF3FF;
  margin-bottom: 50px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}