.jumbotron {
  background-color: white;
  text-align: center;
}

.jumbotron.category {
  background-color: white;
  padding: 0;
  padding-top: 10px;
  margin: 0;
}

/* Nav search button css */
#nav-search {
  width: 300px;
}

.space {
  width: 100%;
  margin-top: 3%;
}

.space-medium {
  width: 100%;
  margin-top: 5%;
}
