body,
html {
  background-color: #ffffff;
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', 'sans-serif';
}

h3, li {
  color: #5a5959;
}

h4 {
  margin: 0 !important;
}

.custom-color-1 {
  background-color: #c1f5f4 !important;
}

h2 {
  text-transform: uppercase;
  color: #002a32;
  font-size: 3em;
  font-family: Georgia;
  padding-bottom: 2px;
  text-align: center;
  background-image: linear-gradient(45deg,rgba(0,214,214,.25) 54%,transparent 54%,transparent 100%);
  display: inline;
}

/* Card shadow */
.card {
  background: #ffffff;
  margin-bottom: 50px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-two {
  box-shadow: 1px 1px 0px 0px rgba(146,234,191,1);
}

.outer-container {
  width: 100% !important;
  height: auto;
  margin: 0;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  height: auto;
  padding-bottom: 5vh;
}

.socials {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 10vh;
}

.pop-up:hover {
  animation: pop-up 0.5s both;
}

.socials > a {
  margin: 0px 35px 0px 35px;
}

/* Preface CSS */

.preface-container {
  height: 100vh;
}

.preface {
  font-size: 5vmin;
  padding-top: 32vh;
  padding-bottom: 15vh;
}

.read-more {
  display: none;
  margin-top: -20px;
  padding-top: 0px;
}

.contacts {
  padding-left: 10vw;
}

.contacts ul{
  list-style-type: none;
  padding-left: 10vw;
}

.contacts li {
  margin: 15px 0 15px 0;
  font-size: 1.2em;
}

.contacts-icon {
  padding-right: 5px;
  color: black;
}

.contacts-info {
  color: #727c93 !important;
}

/* About CSS */
.about > p {
  font-size: 1em;
  line-height: 2;
  padding-top: 20px;
}

.about {
  padding-left: 5vw;
}

.about > h2 {
  font-weight: bold;
  font-size: 2.5em;
  text-align: left;
}

/* Work Experience CSS */
.work-experience {
  height: auto;
  padding-bottom: 5vh;
}

.job-name {
  display: inline-block;
  width: 100%;
  padding-bottom: 2.5%;
  padding-top: 2.5%;
}
.job-name h3 {
  float: left;
  margin: 0px;
  font-size: 1.5em;
  color: #000000;
}

.work-experience p {
  padding: 0px 0px 0px 0px;
  line-height: 1.5;
}

.job-name h4 {
  float: right;
  margin: 0px;
  font-size: 1.2em;
  color: #585858;
}

.job {
  padding-bottom: 5vh;
}

/* Side projects CSS */

.side-projects {
  padding-bottom: 2%;
  height: auto;
  width: 100%;
}

.side-projects img {
  max-width: 100%;
}

.image-wrapper {
  position: relative;
  padding-bottom: 30px;
}

.image-wrapper .image-caption {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: black;
  height: 400px;
  width: 400px;
  opacity: 0;
  max-width: 100vw;
}

.image-wrapper .image-caption:hover {
  opacity: .7;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
}

.image-wrapper .project-title {
  font-family: "Signika", "sans-serif";
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.image-wrapper .project-title p {
  color: white;
}

/* Project image caption CSS */

.image-caption:hover {
  cursor: pointer;
}

/* Modal CSS */

.modal-header {
  border-bottom: 0;
}

.modal-title {
  font-size: 2em;
}

.modal-image {
  width: 100%;
}

.modal-body p {
  margin-bottom: 6%;
}

.modal {
  top: 20vh;
}

.modal-content {
  border-radius: 4px;
}

.project-skills {
  display: flex;
  flex-wrap: wrap;
}

.project-skill {
  border-radius: 4px;
  border: 2px solid #92eac0;
  font-family: 'Camphor', 'sans-serif';
  font-size: 1em;
  padding: 6px;
  margin-right: 10px;
  color: #505d7b;
}

.center-block {
  border-radius: 5px;
}

.center-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-wrap > h2 {
  margin-bottom: 6vh;
}

/* Blinking cursor */
.blinking-cursor {
  font-weight: 100;
  font-size: 6vmin;
  color: #2E3D48;
  animation: 1s blink step-end infinite;
}

/* Effects */
@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@keyframes pop-up {
  0% {
      transform: translateY(0);
      transform-origin: bottom;
  }

  to {
      transform: translateY(-5px);
      /* transform-origin: bottom; */
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.type-first {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto; 
  animation: typing 2s steps(40, end);
}

/* Mobile rules */
@media only screen and (max-width: 768px) {

  .about {
    width: 100%;
  }

  .outer-container {
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .work-experience > .center-wrap {
    margin-bottom: 0px;
  }

  .work-experience > .center-wrap > h2 {
    font-size: 2em;
  }

  .job-name {
    display: grid;
  }

  .center-wrap {
    margin-bottom: 0%;
  }
  
  .image-wrapper .image-caption {
    height: 100%;
    width: 100%;
  }
}